/*
      About Us Page
*/

.about-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #c4c4c4;
    height: 80vh; /* min-height: 100vh; height: 80vh; */
    width: 85vw; /* margin-top: 25vh; width: 85vw; */
  }
  
  .about-title {
    font-size: 3rem;
    margin-bottom: 50px;
    color: #333;
  }
  
  .about-columns {
    display: flex;
    justify-content: center;
    gap: 2.5vw;
    margin-top: 30px;
  }
  
  .about-box {
    flex: 1;
    height: 60vh;
    max-height: 60vh;
    min-height: 10vh;
    max-width: 20vw;
    min-width: 10vw;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
  }
  
  .about-box:hover {
    transform: scale(1.1);
  }
  
  .about-box h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 20px;
  }
  
  .about-box p {
    font-size: 1rem;
    color: #666;
  }
  
/* 
      Team Section 
*/

.team-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.team-member {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.team-member:hover {
  transform: scale(1.05);
}

.team-member h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.team-member p {
  margin: 5px 0;
  font-size: 1rem;
}

/* 
      Website Section 
*/

.website-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.website-box {
  padding: 12px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1rem;
  color: #333;
  transition: transform 0.2s ease-in-out;
}

.website-box.overview {
  font-weight: bold;
  background-color: #f0f0f0;
}

.website-box:hover {
  transform: scale(1.05);
}

/* 
      Motivation Section
*/

.motivation-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.motivation-box {
  padding: 12px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1rem;
  color: #333;
  transition: transform 0.2s ease-in-out;
}

.motivation-box:hover {
  transform: scale(1.05);
}